
.spyproject/

dataset/__pycache__/

network/__pycache__/

webcam_demo/__pycache__/

__pycache__/

mp4/

*.tar

Pytorch_VGGFACE.pth

Pytorch_VGGFACE_IR.py

Wi_weights/

.vscode/settings.json

.vscode/
